TeamSupport.CrmIntegration/Service References/OracleActivityAppointment/ActivityCategory.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/" xmlns:sdoXML="commonj.sdo/xml" xmlns:sdoJava="commonj.sdo/java" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/" sdoJava:package="oracle.apps.crmCommon.activities.activitiesService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/appCmmnCompActivities/ActivityAppointmentService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/appCmmnCompActivities/ActivityAppointmentService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/">Appointment Category</name>
      <description xmlns="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/">A category for an appointment, such as a phone call or
                demonstration category.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/">CrmCommonComponent-CRM Common Components</value>
        <value xmlns="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/">CrmCommonComponent-CRM Common Components :
                    AppCmmnCompActivities-Activities</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Unique Identifier for Activity Category record" name="ActivityCategoryId" />
        <oer:attribute description="This is ID of the activity this category record relates to." name="ActivityId" />
        <oer:attribute description="Stores category of an appointment. Usually user selects value from list of categories." name="CategoryCd" />
        <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried." name="ObjectVersionNumber" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="ActivityCategory">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>ActivityCategoryId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="ActivityCategoryId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="ActivityId" type="xsd:long" />
      <xsd:element minOccurs="0" name="CategoryCd" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="activityCategory" type="ActivityCategory" />
</xsd:schema>