TeamSupport.CrmIntegration/Service References/OracleActivityAppointment/AppointmentDeleteException.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoXML="commonj.sdo/xml" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/" sdoJava:package="oracle.apps.crmCommon.activities.activitiesService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/appCmmnCompActivities/ActivityAppointmentService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/appCmmnCompActivities/ActivityAppointmentService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/appCmmnCompActivities/ActivityAppointmentService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/">Appointment Deletion Exception</name>
      <description xmlns="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/">An object representing a recurring appointment exception to
                delete. For example, deleting an instance of a scheduled monthly
                sales meeting.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/">CrmCommonComponent-CRM Common Components</value>
        <value xmlns="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/">CrmCommonComponent-CRM Common Components :
                    AppCmmnCompActivities-Activities</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Primary key which is uniquely generated for storing the deleted child exceptions" name="ActivityChildId" />
        <oer:attribute description="ID of the appointment activity that is" name="ActivityId" />
        <oer:attribute description="Child object tables primary key." name="ChildId" />
        <oer:attribute description="Child object code, that identifies the child object to which this record belongs to." name="ChildObjectCd" />
        <oer:attribute description="Disconnected Mobile: this value is used to guarantee the uniqueness of the row when duplicates are created in different databases (i.e. mobile databases or the server)." name="ConflictId" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried." name="ObjectVersionNumber" />
        <oer:attribute description="Disconnected Mobile: indicates the date and time of the last update of the row. This value is different from LAST_UPDATE_DATE if the update originally happened in a different database (i.e. a different mobile database or the server)." name="UserLastUpdateDate" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="AppointmentDeleteException">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>ActivityChildId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="ActivityChildId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="ActivityId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="ChildId" type="xsd:long" />
      <xsd:element minOccurs="0" name="ChildObjectCd" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="ConflictId" type="xsd:long" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber" type="xsd:int" />
      <xsd:element minOccurs="0" name="UserLastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="appointmentDeleteException" type="AppointmentDeleteException" />
</xsd:schema>