TeamSupport.CrmIntegration/Service References/OracleSalesParty/AdditionalOrganizationName.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoXML="commonj.sdo/xml" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/" sdoJava:package="oracle.apps.cdm.foundation.parties.organizationService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/">Trading Community Organization Additional Name</name>
      <description xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/">An additional name that can be associated with a trading
                community organization. For example, a legal name or a DBA name.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/">CdmTop-Customer Data Management</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/">CdmTop-Customer Data Management : FoundationTop-Foundation</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/">CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Unique identifier. Primary Key. System generated." name="PartyNameId" />
        <oer:attribute description="Party ID. Foreign key reference to the HZ_PARTIES. The party type should be consistent with the party type that the PARTY_NAME_TYPE can be applied to." name="PartyId" />
        <oer:attribute description="Type of the name. It is a value defined by the Additional Party Name and Identifier Type entity. The party type should be consistent with the party type that the PARTY_NAME_TYPE can be applied to." name="PartyNameType" />
        <oer:attribute description="Identify the name as preferred name for this party within this name type. Possible values are 'Y' and 'N'. Default is 'N'." name="PreferredFlag" />
        <oer:attribute description="Free text comment/description." name="Description" />
        <oer:attribute description="Record Status Flag used to soft delete entity. Possible values are 'A' (active), 'I' (inactive), 'D' (logically deleted), and 'M' (merged). 'M' will not be used for this entity. Default is 'A'." name="StatusFlag" />
        <oer:attribute description="TCA Who column" name="CreatedByModule" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row." name="RequestId" />
        <oer:attribute description="Used to capture the language used for the name. It is validated against FND_LANGUAGES.LANGUAGE_CODE. Default value is the Session Language." name="TransliterationLang" />
        <oer:attribute description="Typically used to store the additional name for the party. In the case of Persons it will be used to store the formatted name if necessary for the name type." name="PartyName" />
        <oer:attribute description="Preferred additional name for the organization." name="OverallPreferredFlag" />
        <oer:attribute description="Source system name" name="OrigSystem" />
        <oer:attribute description="Identifier for this record from foreign or legacy system." name="OrigSystemReference" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="AdditionalOrganizationName">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>PartyNameId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyNameId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartyNameType" type="xsd:string" />
      <xsd:element minOccurs="0" name="PreferredFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="Description" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:BooleanObject" minOccurs="0" name="StatusFlag" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="CreatedByModule" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="TransliterationLang" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OverallPreferredFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="OrigSystem" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrigSystemReference" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="additionalOrganizationName" type="AdditionalOrganizationName" />
</xsd:schema>