TeamSupport.CrmIntegration/Service References/OracleSalesParty/FinancialNumber.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoXML="commonj.sdo/xml" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/" sdoJava:package="oracle.apps.cdm.foundation.parties.organizationService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/">Trading Community Financial Number</name>
      <description xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/">A trading community member's financial report numbers. For
                example, assets, liabilities, and cash balance.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/">CdmTop-Customer Data Management</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/">CdmTop-Customer Data Management : FoundationTop-Foundation</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/">CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Unique identifier for this financial number. System generated. Primary Key." name="FinancialNumberId" />
        <oer:attribute description="Identifier for the financial report. Foreign key to the HZ_FINANCIAL_REPORTS table" name="FinancialReportId" />
        <oer:attribute description="Numeric value for the FINANCIAL_NUMBER_NAME column. For example, the FINANCIAL_NUMBER_NAME column could have a numerical value of 3,000,000,000 for annual sales" name="FinancialNumber" />
        <oer:attribute description="A text field that lets you assign a descriptive name to a financial report item. For example, gross annual sales, profit, and net annual sales. A user-defined lookup." name="FinancialNumberName" />
        <oer:attribute description="Order of magnitude (tens, hundreds, thousands, and so on) used for the FINANCIAL_NUMBER column." name="FinancialUnitsApplied" />
        <oer:attribute description="ISO currency code for the the FINANCIAL_NUMBER column." name="FinancialNumberCurrency" />
        <oer:attribute description="Indicates if the amount is projected or actual. P for projected amounts, A for actual amounts. The default is A." name="ProjectedActualCode" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row." name="RequestId" />
        <oer:attribute description="Record status flag" name="Status" />
        <oer:attribute description="TCA Who column" name="CreatedByModule" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="FinancialNumber">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>FinancialNumberId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="FinancialNumberId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="FinancialReportId" type="xsd:long" />
      <xsd:element minOccurs="0" name="FinancialNumber" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="FinancialNumberName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FinancialUnitsApplied" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="FinancialNumberCurrency" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ProjectedActualCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="Status" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="financialNumber" type="FinancialNumber" />
</xsd:schema>