TeamSupport.CrmIntegration/Service References/OracleSalesParty/OrganizationParty.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns2="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" xmlns:sdoXML="commonj.sdo/xml" xmlns:sdoJava="commonj.sdo/java" xmlns:sdo="commonj.sdo" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/" xmlns:ns1="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" xmlns:ns3="http://xmlns.oracle.com/apps/cdm/foundation/parties/relationshipService/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/" sdoJava:package="oracle.apps.cdm.foundation.parties.organizationService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/partyService/AdditionalPartyId.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/partyService/Certification.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/partyService/CodeAssignment.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/contactPointService/ContactPreference.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/partyService/CreditRating.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/contactPointService/Edi.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/contactPointService/Eft.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/partyService/EmailDomain.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/contactPointService/Email.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/partyService/FinancialProfile.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/contactPointService/InstantMessaging.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/partyService/OriginalSystemReference.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/partyService/PartyPreference.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/partyService/PartySite.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/partyService/PartyUsageAssignment.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/contactPointService/Phone.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/contactPointService/Telex.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/contactPointService/Web.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/relationshipService/Relationship.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/relationshipService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/xml/sdoModel.xsd" namespace="commonj.sdo" />
  <xsd:include schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/organizationService/AdditionalOrganizationName.xsd" />
  <xsd:include schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/organizationService/FinancialReport.xsd" />
  <xsd:include schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/organizationService/OrganizationProfile.xsd" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/">Trading Community Organization Details</name>
      <description xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/">Organization details.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/">CdmTop-Customer Data Management</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/">CdmTop-Customer Data Management : FoundationTop-Foundation</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/">CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Unique identification number for this party" name="PartyNumber" />
        <oer:attribute description="Party identifier" name="PartyId" />
        <oer:attribute description="The party type can only be Person, Organization, Group." name="PartyType" />
        <oer:attribute description="Name of this party" name="PartyName" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="Indicates if the party was validated. Y for a validated party, N for a party that is not validated." name="ValidatedFlag" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" />
        <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row." name="RequestId" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" />
        <oer:attribute description="Customer identifier from foreign system. May not be unique." name="OrigSystemReference" />
        <oer:attribute description="Status of this site. Identifies if the location is the headquarters, a branch, or a single location." name="HQBranchIndicator" />
        <oer:attribute description="DUNS_NUMBER in VARCHAR format. Column value not restricted to nine digit DUNS Number." name="DUNSNumberC" />
        <oer:attribute description="Standard Industry Classification (SIC) code" name="SICCode" />
        <oer:attribute description="Taxpayer identification number, often unique identifier of person or organization. Can be SSN or income taxpayer ID in US, fiscal code or NIF in Europe" name="JgzzFiscalCode" />
        <oer:attribute description="First line of the Identifying address" name="Address1" />
        <oer:attribute description="The country listed in the TERRITORY_CODE column of the FND_TERRITORY table. for the Identifying address." name="Country" />
        <oer:attribute description="Third line of the Identifying address" name="Address3" />
        <oer:attribute description="Lookup for group type" name="GroupType" />
        <oer:attribute description="Second line of the Identifying address" name="Address2" />
        <oer:attribute description="Fourth line of the Identifying address" name="Address4" />
        <oer:attribute description="Party status flag." name="Status" />
        <oer:attribute description="City of the Identifying address" name="City" />
        <oer:attribute description="Postal Code of the Identifying address" name="PostalCode" />
        <oer:attribute description="County of the Identifying address" name="County" />
        <oer:attribute description="Year that the organization began doing business" name="YearEstablished" />
        <oer:attribute description="Province of the Identifying address" name="Province" />
        <oer:attribute description="State of the Identifying address" name="State" />
        <oer:attribute description="Uniform resource locator" name="URL" />
        <oer:attribute description="Fiscal year that financial information is based on" name="AnalysisFy" />
        <oer:attribute description="Version of Standard Industry Classification (SIC) code" name="SICCodeType" />
        <oer:attribute description="E-mail address of the organization" name="EmailAddress" />
        <oer:attribute description="Month in which fiscal year ends for organization" name="FiscalYearendMonth" />
        <oer:attribute description="Total number of employees" name="EmployeesTotal" />
        <oer:attribute description="Organization's potential revenue this fiscal year" name="CurrentFiscalYearPotentialRevenueAmount" />
        <oer:attribute description="Organization's potential revenue for next fiscal year" name="NextFyPotentialRevenueAmount" />
        <oer:attribute description="Indicates if this is a US federal agency supported by the General Services Administration (GSA). Y for organizations served by the GSA, N for organizations that are not served by the GSA." name="GSAIndicatorFlag" />
        <oer:attribute description="User-definable category. Lookup type is CUSTOMER_CATEGORY" name="CategoryCode" />
        <oer:attribute description="Standard name for a language" name="LanguageName" />
        <oer:attribute description="Corporate charter of organization" name="MissionStatement" />
        <oer:attribute description="Tracks if a party has a direct relationship with the organization using Oracle Receivables or through a third party vendor. Y for a third party relationship, N for a direct relationship. If Oracle Service is installed, the Third Party field in the Customers window is mandatory." name="ThirdPartyFlag" />
        <oer:attribute description="Home Country of the organization if the partyis an organization" name="HomeCountry" />
        <oer:attribute description="TCA Who column" name="CreatedByModule" />
        <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried." name="ObjectVersionNumber" />
        <oer:attribute description="Certification level an organization party. HZ_PARTY_CERT_LEVEL lookup type" name="CertificationLevel" />
        <oer:attribute description="Reason for organization party's current certification level assignment. HZ_PARTY_CERT_REASON lookup type" name="CertReasonCode" />
        <oer:attribute description="Contact point type, such as business or personal" name="PrimaryPhonePurpose" />
        <oer:attribute description="Unique identifier of this contact point" name="PrimaryPhoneContactPointId" />
        <oer:attribute description="Lookup code for the type of phone line. For example, general, fax, inbound or outbound" name="PrimaryPhoneLineType" />
        <oer:attribute description="International country code for a telephone number. For example, 33 for France" name="PrimaryPhoneCountryCode" />
        <oer:attribute description="The area code within a country code" name="PrimaryPhoneAreaCode" />
        <oer:attribute description="A telephone number formatted in local format. The number should not include country code, area code, or extension" name="PrimaryPhoneNumber" />
        <oer:attribute description="How a person or organization prefers to be contacted. Validated against lookup HZ_PREFERRED_CONTACT_METHOD." name="PreferredContactMethod" />
        <oer:attribute description="Additional number addressed after initial connection to an internal telephone system" name="PrimaryPhoneExtension" />
        <oer:attribute description="Unique identifier of the location of the identifying address" name="IdenAddrLocationId" />
        <oer:attribute description="Unique identifier of the primary uniform resource locator" name="PrimaryURLContactPointId" />
        <oer:attribute description="Unique identifier of the primary E-mail" name="PrimaryEmailContactPointId" />
        <oer:attribute description="Unique identifier of the party site of the identifying address" name="IdenAddrPartySiteId" />
        <oer:attribute description="Denormalization of the PARTY_NAME field in the HZ_ADDTNL_PARTY_NAMES row identified by PREFERRED_NAME_ID." name="PreferredName" />
        <oer:attribute description="Used to capture the second last name for a person. In some cultures it is not uncommon to have double last name. It is used in the same way the new field PERSON_SECOND_LAST_NAME in HZ_PERSON_PROFILES is used." name="PersonSecondLastName" />
        <oer:attribute description="Foreign Key to HZ_ADDTNL_PARTY_NAMES.PARTY_NAME_ID. If not NULL contains the ID of the overall Preferred Name for the Party. If NULL the Profile Name (i.e. the name contained in the profile) will be used as overall Preferred name. By default the value is NULL" name="PreferredNameId" />
        <oer:attribute description="One column to store the FSIO related trading partner codes. This column will store alpha numeric values. This column will also take care of the &quot;Fed vs Non-Fed&quot; attribute requirement." name="TradingPartnerIdentifier" />
        <oer:attribute description="Person PARTY_ID of a preferred contact for a given party. There should be a valid relationship." name="PreferredContactPersonId" />
        <oer:attribute description="Denormalization of the PREF_FUNCTIONAL_CURRENCY in HZ_PERSON_PROFILES/HZ_ORGANIZATION_PROFILES" name="PreferredFunctionalCurrency" />
        <oer:attribute description="Denormalization of the INTERNAL_FLAG in HZ_PERSON_PROFILES/HZ_ORGANIZATION_PROFILES" name="InternalFlag" />
        <oer:attribute description="Denormalization of the COMMENTS in HZ_GROUP_PROFILES" name="Comments" />
        <oer:attribute description="Denormalization of the CEO_NAME in HZ_ORGANIZATION_PROFILES" name="CeoName" />
        <oer:attribute description="Name of the highest ranking person in the company. Set this attribute in Organization Profile." name="PrincipalName" />
        <oer:attribute description="Size of an organization based on revenue, number of employees etc." name="OrganizationSize" />
        <oer:attribute description="This is the derived column. For Organization, it is concatenation of unique_name_alias and suffix. For Person, this is concatenation of person_name and suffix." name="PartyUniqueName" />
        <oer:attribute description="Additional name associated with the organization." name="AdditionalOrganizationName" />
        <oer:attribute description="Additional Identifier for the organization." name="AdditionalPartyId" />
        <oer:attribute description="Certification information associated with the organization." name="Certification" />
        <oer:attribute description="Classification code assigned to the organization." name="CodeAssignment" />
        <oer:attribute description="Contact preference information of the organization." name="ContactPreference" />
        <oer:attribute description="Credit Rating information for the organization." name="CreditRating" />
        <oer:attribute description="Electronic data intercahnge information for the organization." name="Edi" />
        <oer:attribute description="Electronic file transfer information for the organization." name="Eft" />
        <oer:attribute description="Email domain information for the organization." name="EmailDomain" />
        <oer:attribute description="Email information for the organization." name="Email" />
        <oer:attribute description="Financial Profile information of the organization." name="FinancialProfile" />
        <oer:attribute description="Financial Report information of the organization." name="FinancialReport" />
        <oer:attribute description="Instant messaging information associated with the organization." name="InstantMessaging" />
        <oer:attribute description="Organization Profile Information." name="OrganizationProfile" />
        <oer:attribute description="Identifier for this record from foreign or legacy system." name="OriginalSystemReference" />
        <oer:attribute description="Preference information of the organization." name="PartyPreference" />
        <oer:attribute description="Address information for the organization." name="PartySite" />
        <oer:attribute description="Party usage assignment information for the organization." name="PartyUsageAssignment" />
        <oer:attribute description="Phone information for the organization." name="Phone" />
        <oer:attribute description="Telex information associated with the organization." name="Telex" />
        <oer:attribute description="Web information for the organization." name="Web" />
        <oer:attribute description="Relationship information for the organization." name="Relationship" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="OrganizationParty">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>PartyId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PartyNumber" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyId" type="xsd:long" />
      <xsd:element minOccurs="0" default="ORGANIZATION" name="PartyType" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyName" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="ValidatedFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrigSystemReference" type="xsd:string" />
      <xsd:element minOccurs="0" name="HQBranchIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DUNSNumberC" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SICCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="JgzzFiscalCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Address1" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Country" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Address3" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="GroupType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Address2" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Address4" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Status" type="xsd:string" />
      <xsd:element minOccurs="0" name="City" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PostalCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="County" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="YearEstablished" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="Province" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="State" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="URL" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AnalysisFy" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SICCodeType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmailAddress" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FiscalYearendMonth" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmployeesTotal" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="CurrentFiscalYearPotentialRevenueAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="NextFyPotentialRevenueAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="GSAIndicatorFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="CategoryCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LanguageName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="MissionStatement" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ThirdPartyFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="HomeCountry" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber" type="xsd:int" />
      <xsd:element minOccurs="0" name="CertificationLevel" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CertReasonCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryPhonePurpose" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryPhoneContactPointId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PrimaryPhoneLineType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryPhoneCountryCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryPhoneAreaCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryPhoneNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PreferredContactMethod" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryPhoneExtension" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="IdenAddrLocationId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PrimaryURLContactPointId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PrimaryEmailContactPointId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="IdenAddrPartySiteId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PreferredName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonSecondLastName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PreferredNameId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="TradingPartnerIdentifier" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PreferredContactPersonId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PreferredFunctionalCurrency" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="InternalFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CeoName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrincipalName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationSize" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyUniqueName" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="AdditionalOrganizationName" type="AdditionalOrganizationName" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="AdditionalPartyId" type="ns1:AdditionalPartyId" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Certification" type="ns1:Certification" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="CodeAssignment" type="ns1:CodeAssignment" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ContactPreference" type="ns2:ContactPreference" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="CreditRating" type="ns1:CreditRating" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" maxOccurs="unbounded" name="Edi" type="ns2:Edi" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" maxOccurs="unbounded" name="Eft" type="ns2:Eft" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="EmailDomain" type="ns1:EmailDomain" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" maxOccurs="unbounded" name="Email" type="ns2:Email" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="FinancialProfile" type="ns1:FinancialProfile" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="FinancialReport" type="FinancialReport" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" maxOccurs="unbounded" name="InstantMessaging" type="ns2:InstantMessaging" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="OrganizationProfile" type="OrganizationProfile" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="OriginalSystemReference" type="ns1:OriginalSystemReference" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="PartyPreference" type="ns1:PartyPreference" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="PartySite" type="ns1:PartySite" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="PartyUsageAssignment" type="ns1:PartyUsageAssignment" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" maxOccurs="unbounded" name="Phone" type="ns2:Phone" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" maxOccurs="unbounded" name="Telex" type="ns2:Telex" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" maxOccurs="unbounded" name="Web" type="ns2:Web" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" maxOccurs="unbounded" name="Relationship" type="ns3:Relationship" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrganizationPartyResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="OrganizationParty" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="organizationParty" type="OrganizationParty" />
  <xsd:element name="organizationPartyResult" type="OrganizationPartyResult" />
</xsd:schema>