TeamSupport.CrmIntegration/Service References/OracleSalesParty/OrganizationContact.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns2="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/orgContact/" xmlns:sdoXML="commonj.sdo/xml" xmlns:sdoJava="commonj.sdo/java" xmlns:sdo="commonj.sdo" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/relationshipService/" xmlns:ns1="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/relationshipService/" sdoJava:package="oracle.apps.cdm.foundation.parties.relationshipService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/partyService/OriginalSystemReference.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/flex/orgContact/OrganizationContactInformation.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/orgContact/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/xml/sdoModel.xsd" namespace="commonj.sdo" />
  <xsd:include schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/relationshipService/OrganizationContactRole.xsd" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/relationshipService/">Trading Community Organization Contact</name>
      <description xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/relationshipService/">A person who functions as a contact for an organization.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/relationshipService/">CdmTop-Customer Data Management</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/relationshipService/">CdmTop-Customer Data Management : FoundationTop-Foundation</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/relationshipService/">CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Identifier of the organization contact" name="OrgContactId" />
        <oer:attribute description="Identifies relationship that contact person has with an organization or person. Foreign key to the HZ_RELATIONSHIPS table." name="PartyRelationshipId" />
        <oer:attribute description="User comments" name="Comments" />
        <oer:attribute description="User-defined identification number for this contact" name="ContactNumber" />
        <oer:attribute description="List of values for possible department codes" name="DepartmentCode" />
        <oer:attribute description="Free form text used to name the department" name="Department" />
        <oer:attribute description="Free form text for job title" name="JobTitle" />
        <oer:attribute description="Indicates if this contact is a decision maker. Y for a decision maker, N for someone who is not the decision maker." name="DecisionMakerFlag" />
        <oer:attribute description="Code given to the job title" name="JobTitleCode" />
        <oer:attribute description="Indicates if this contact can be used as a reference. Y for a contact who will act as a reference, N for a contact who cannot act as a reference." name="ReferenceUseFlag" />
        <oer:attribute description="Importance of the contact relative to other contacts" name="Rank" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row." name="RequestId" />
        <oer:attribute description="Indicates if contact is for a particular party site. Foreign key to the HZ_PARTY_SITES table." name="PartySiteId" />
        <oer:attribute description="Unique contact identifier from foreign system" name="OrigSystemReference" />
        <oer:attribute description="TCA Who column" name="CreatedByModule" />
        <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried." name="ObjectVersionNumber" />
        <oer:attribute description="Address associsated with the organization contact." name="PartySiteName" />
        <oer:attribute description="Contact's affinity towards the deploying organization." name="SalesAffinityCode" />
        <oer:attribute description="Comments describing contact's affinity towards the deploying organization." name="SalesAffinityComments" />
        <oer:attribute description="Contact's role in the buying process." name="SalesBuyingRoleCode" />
        <oer:attribute description="Contact's level of influence in the buying process." name="SalesInfluenceLevelCode" />
        <oer:attribute description="Currency Code This attribute is used by CRM Extensibility framework" name="CurrencyCode" />
        <oer:attribute description="Currency Conversion Rate Type This attribute is used by CRM Extensibility framework" name="CurcyConvRateType" />
        <oer:attribute description="Corporate Currency Code This attribute is used by CRM Extensibility framework" name="CorpCurrencyCode" />
        <oer:attribute description="Role played by the organization contact." name="OrganizationContactRole" />
        <oer:attribute description="Identifier for this record from foreign or legacy system." name="OriginalSystemReference" />
        <oer:attribute description="Organization Contact Information." name="OrgContactInformation" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="OrganizationContact">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>OrgContactId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="OrgContactId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyRelationshipId" type="xsd:long" />
      <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ContactNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DepartmentCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Department" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="JobTitle" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DecisionMakerFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="JobTitleCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ReferenceUseFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="Rank" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartySiteId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="OrigSystemReference" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber" type="xsd:int" />
      <xsd:element minOccurs="0" name="PartySiteName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SalesAffinityCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SalesAffinityComments" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SalesBuyingRoleCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SalesInfluenceLevelCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurcyConvRateType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CorpCurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="OrganizationContactRole" type="OrganizationContactRole" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="OriginalSystemReference" type="ns1:OriginalSystemReference" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" name="OrgContactInformation" type="ns2:OrganizationContactInformation" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="organizationContact" type="OrganizationContact" />
</xsd:schema>