TeamSupport.CrmIntegration/Service References/OracleSalesParty/OrganizationProfile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:sdoXML="commonj.sdo/xml" xmlns:sdoJava="commonj.sdo/java" xmlns:sdo="commonj.sdo" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/" xmlns:ns1="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/organization/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/" sdoJava:package="oracle.apps.cdm.foundation.parties.organizationService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/flex/organization/OrganizationInformation.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/organization/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/xml/sdoModel.xsd" namespace="commonj.sdo" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/">Trading Community Organization Profile</name>
      <description xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/">A trading community member of type organization and its profile
                information.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/">CdmTop-Customer Data Management</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/">CdmTop-Customer Data Management : FoundationTop-Foundation</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/">CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Unique identifier for organization profiles.System Generated. Primary Key" name="OrganizationProfileId" />
        <oer:attribute description="Unique party indentifier." name="PartyId" />
        <oer:attribute description="Name of a party of the Organization party type" name="OrganizationName" />
        <oer:attribute description="Identifier used to query the Dun and Bradstreet data. If a location is a branch, then in some countries the headquarters DUNS number is used to do the query. Otherwise it is the same as the DUNS number." name="EnquiryDUNS" />
        <oer:attribute description="Name of the chief executive officer" name="CeoName" />
        <oer:attribute description="Formal title of the chief executive officer" name="CeoTitle" />
        <oer:attribute description="Name of the highest ranking person in the company" name="PrincipalName" />
        <oer:attribute description="Title of the highest ranking person in the company" name="PrincipalTitle" />
        <oer:attribute description="Legal structure. For example, partnership, corporation, and so on." name="LegalStatus" />
        <oer:attribute description="Year when current ownership gained control" name="ControlYr" />
        <oer:attribute description="Total number of employees" name="EmployeesTotal" />
        <oer:attribute description="Status of this site. Identifies if the location is the HQ, a branch, or a single location." name="HQBranchIndicator" />
        <oer:attribute description="Indicates if this is a branch location. Y for branch locations, N for all other locations." name="BranchFlag" />
        <oer:attribute description="Indicates if this organization is out of business. Y for businesses that are out of business, N for active businesses." name="OobInd" />
        <oer:attribute description="Type of business activities performed at this site" name="LineOfBusiness" />
        <oer:attribute description="U.S. Congressional District" name="CongDistCode" />
        <oer:attribute description="Indicates if this company is an importer. Y for an importer, N for an organization that does not import." name="ImportInd" />
        <oer:attribute description="Indicates if this company is an exporter. Y for an exporter, N for an organization that does not export." name="ExportInd" />
        <oer:attribute description="Indicates if this company operates in an area with a labor surplus. Y for a surplus, N for no surplus exists." name="LaborSurplusInd" />
        <oer:attribute description="Indicates if this company is primarily owned by ethnic or racial minorities. Y for a minority-owned frim, N for a firm that is not owned by minorities" name="MinorityOwnedInd" />
        <oer:attribute description="The type of minority-owned frim" name="MinorityOwnedType" />
        <oer:attribute description="Indicates if this company is primarily owned by women. Y for a women-owned frim, N for a firm that is not primarily owned by women." name="WomanOwnedInd" />
        <oer:attribute description="Indicates if this company is considered disadvantaged by the US governement under Title 8A. Y for a Title 8A disadvantaged firm, N for all other firms." name="Disadv8aInd" />
        <oer:attribute description="Indicates if this company is considered to be a small business. Y for small businesses, N for all other firms." name="SmallBusInd" />
        <oer:attribute description="Indicates if this company owns or rents its place of business. Lookup of values for rent, own, lease, and so on." name="RentOwnInd" />
        <oer:attribute description="Dun and Bradstreet credit rating" name="DbRating" />
        <oer:attribute description="Indicates if this is a US federal agency supported by the General Services Administration (GSA). Y for organizations served by the GSA, N for organizations that are not served by the GSA." name="GSAIndicatorFlag" />
        <oer:attribute description="Taxpayer identification number, often unique identifier of person or organization. Can be SSN or income taxpayer ID in US, fiscal code or NIF in Europe" name="JgzzFiscalCode" />
        <oer:attribute description="Fiscal year used as the source for financial information" name="AnalysisFy" />
        <oer:attribute description="Month that the fiscal year ends for organization" name="FiscalYearendMonth" />
        <oer:attribute description="Current Fiscal Year Potential Revenue Amount." name="CurrentFiscalYearPotentialRevenueAmount" />
        <oer:attribute description="Organization's potential revenue for next fiscal year" name="NextFyPotentialRevenueAmount" />
        <oer:attribute description="Year that the organization began doing business" name="YearEstablished" />
        <oer:attribute description="Corporate charter of organization" name="MissionStatement" />
        <oer:attribute description="Not used in Fusion V1" name="OrganizationType" />
        <oer:attribute description="The physical class of business in which a business participates. For example, local, national, or international." name="BusinessScope" />
        <oer:attribute description="Taxation classification for corporation entities. For example, Chapter S in the US." name="CorporationClass" />
        <oer:attribute description="Lookup that represents most common business identifier in a country. For example, Chamber of Commerce Number in Italy, Government Registration Number in Taiwan." name="LocalBusIdenType" />
        <oer:attribute description="Primary identifier assigned to businesses by government agency, Chamber of Commerce, or other authority. Generally used outside US." name="LocalBusIdentifier" />
        <oer:attribute description="Organization's default currency code." name="PreferredFunctionalCurrency" />
        <oer:attribute description="Lookup for type of registration, such as nonprofit." name="RegistrationType" />
        <oer:attribute description="Total number of personnel employeed if can not be mapped to numeric field." name="TotalEmployeesText" />
        <oer:attribute description="Lookup that indicates whether subsidiaries are included in the calculation of total employees A for totals without subsidiaries, B for totals with subsidiaries." name="TotalEmployeesInd" />
        <oer:attribute description="Lookup that indicates whether the employee total is estimated. A for estimated, N for not estimated or actual." name="TotalEmployeesEstimatedIndicator" />
        <oer:attribute description="Lookup that indicates whether the number is a minimum, maximum, or average number of total employees. A for minimum, B for maximum, and C for average." name="TotalEmployeesMinimumIndicator" />
        <oer:attribute description="Lookup that indicates if organization is a parent or subsidiary location" name="ParentSubInd" />
        <oer:attribute description="Year that the business was incorporated" name="IncorpYear" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row." name="RequestId" />
        <oer:attribute description="Unique foreign key to data source, such as DUNS number" name="ContentSourceNumber" />
        <oer:attribute description="Date Effective Entity: indicates the date at the beginning of the date range within which the row is effective." name="EffectiveStartDate" />
        <oer:attribute description="Date Effective Entity: indicates the date at the end of the date range within which the row is effective." name="EffectiveEndDate" />
        <oer:attribute description="Indicates if the organization is privately owned. Y for a privately owned organization, N for a publicly owned organization." name="PublicPrivateOwnershipFlag" />
        <oer:attribute description="Local activity classification code type identifier" name="LocalActivityCodeType" />
        <oer:attribute description="Local activity classification code" name="LocalActivityCode" />
        <oer:attribute description="Number of employees at the referenced address" name="EmployeesAtPrimaryAddress" />
        <oer:attribute description="Number of employees at the referenced address which cannot be mapped to a number" name="EmployeesAtPrimaryAddressText" />
        <oer:attribute description="Qualifies calculation of employees at the primary address as estimated" name="EmployeesAtPrimaryAddressEstimation" />
        <oer:attribute description="Qualifies calculation of employees at the primary address as minimum" name="EmployeesAtPrimaryAddressMinimum" />
        <oer:attribute description="Indicates if this is an internal organization. Y for internal, N for external. Defaulted to N." name="InternalFlag" />
        <oer:attribute description="Total number of payment experiences" name="TotalPaymentAmount" />
        <oer:attribute description="Dun and Bradstreet does not maintain data for the branch offices of companies that are located outside of North America. Data is only maintained for the company's headquarters. If the data pertains only to a company's headquarters, this column stores the headquarter's PARTY_ID. If the data pertains to a branch office, this column stores the branch's PARTY_ID." name="DisplayedDUNSPartyIdentifier" />
        <oer:attribute description="Record status flag" name="Status" />
        <oer:attribute description="Dun and Bradstreet Business Information Report" name="BusinessReport" />
        <oer:attribute description="DUNS_NUMBER in VARCHAR format. Column value not restricted to nine digit DUNS Number." name="DUNSNumberC" />
        <oer:attribute description="TCA Who column" name="CreatedByModule" />
        <oer:attribute description="Stores bank number for banks and branch number for bank branches, primarily ABA number for US bank branches." name="BankOrBranchNumber" />
        <oer:attribute description="Identifies bank in several countries, typically for regulatory purposes." name="BankCode" />
        <oer:attribute description="Identifies bank branch in several countries, typically for regulatory purposes." name="BranchCode" />
        <oer:attribute description="Indicates existence of similarly named business." name="DoNotConfuseWith" />
        <oer:attribute description="Home country associated with the party." name="HomeCountry" />
        <oer:attribute description="Growth Strategy Description." name="GrowthStrategyDescription" />
        <oer:attribute description="Location of account - optional part of User Primary Key" name="SeblUserKeyLoc" />
        <oer:attribute description="Corporate Stock Symbol, e.g. ORCL" name="StockSymbol" />
        <oer:attribute description="One column to store the FSIO related trading partner codes. This column will store alpha numeric values. This column will also take care of the &quot;Fed vs Non-Fed&quot; attribute requirement." name="TradingPartnerIdentifier" />
        <oer:attribute description="Source system name" name="OrigSystem" />
        <oer:attribute description="Identifier for this record from foreign or legacy system." name="OrigSystemReference" />
        <oer:attribute description="Date Effective Entity: indicates the order of different changes made during a day. The lowest value represents the earliest change in the day." name="EffectiveSequence" />
        <oer:attribute description="Corporate charter of organization" name="Comments" />
        <oer:attribute description="Date Effective Entity: 'Y' indicates that this row represents the latest change in the day." name="EffectiveLatestChange" />
        <oer:attribute description="Size of an organization based on revenue, number of employees etc." name="OrganizationSize" />
        <oer:attribute description="This attribute will have Y if the suffix is overridden by user and N if not. Default value is N." name="SuffixOverriddenFlag" />
        <oer:attribute description="Name as captured by the users to internally identify the organization." name="UniqueNameAlias" />
        <oer:attribute description="Captures system generated or manually overridden suffix." name="UniqueNameSuffix" />
        <oer:attribute description="DUNS Number for the Domestic Ultimate, which is the hieghest family member in the same country as this business entity. A subject may be its own Domestic Ultimate." name="DomesticUltimateDUNSNumberC" />
        <oer:attribute description="DUNS Number for the Global Ultimate, which is the highest family member in the same country as this business entity as you walk up this branch of the tree. A case may be its own ultimate." name="GlobalUltimateDUNSNumberC" />
        <oer:attribute description="Parent is a corporation that owns more than 50% of another corporation's capital stock. The parent company can also be a subsidiary of another corporation. If the parent also has branches, then it is a headquarters as well as being a parent company. A headquarters is a business establishment that has branches or divisions reporting to it, and is financially responsible for those branches or divisions. If the headquarters has more than 50% of capital stock owned by anothe corporation, it also will be a subsidiary. If it owns more than 50% of capital stock of another corporation, then it is also a parent." name="ParentDUNSNumberC" />
        <oer:attribute description="Corporate Currency Code This attribute is used by CRM Extensibility framework" name="CorpCurrencyCode" />
        <oer:attribute description="Currency Conversion Rate Type This attribute is used by CRM Extensibility framework" name="CurcyConvRateType" />
        <oer:attribute description="Currency Code This attribute is used by CRM Extensibility framework" name="CurrencyCode" />
        <oer:attribute description="Organizaton Information" name="OrgInformation" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="OrganizationProfile">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>OrganizationProfileId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="OrganizationProfileId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="OrganizationName" type="xsd:string" />
      <xsd:element minOccurs="0" name="EnquiryDUNS" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CeoName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CeoTitle" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrincipalName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrincipalTitle" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LegalStatus" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ControlYr" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="EmployeesTotal" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="HQBranchIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="BranchFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="OobInd" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LineOfBusiness" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CongDistCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ImportInd" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ExportInd" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LaborSurplusInd" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="MinorityOwnedInd" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="MinorityOwnedType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="WomanOwnedInd" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Disadv8aInd" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SmallBusInd" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RentOwnInd" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DbRating" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="GSAIndicatorFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="JgzzFiscalCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AnalysisFy" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FiscalYearendMonth" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurrentFiscalYearPotentialRevenueAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="NextFyPotentialRevenueAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="YearEstablished" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="MissionStatement" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="BusinessScope" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CorporationClass" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LocalBusIdenType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LocalBusIdentifier" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PreferredFunctionalCurrency" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RegistrationType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="TotalEmployeesText" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="TotalEmployeesInd" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="TotalEmployeesEstimatedIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="TotalEmployeesMinimumIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ParentSubInd" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="IncorpYear" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="ContentSourceNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EffectiveStartDate" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="EffectiveEndDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="PublicPrivateOwnershipFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="LocalActivityCodeType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LocalActivityCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmployeesAtPrimaryAddress" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmployeesAtPrimaryAddressText" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmployeesAtPrimaryAddressEstimation" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmployeesAtPrimaryAddressMinimum" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="InternalFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="TotalPaymentAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="DisplayedDUNSPartyIdentifier" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="Status" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="BusinessReport" nillable="true" type="ns0:base64Binary-DataHandler" />
      <xsd:element minOccurs="0" name="DUNSNumberC" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="BankOrBranchNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="BankCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="BranchCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DoNotConfuseWith" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="HomeCountry" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="GrowthStrategyDescription" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SeblUserKeyLoc" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="StockSymbol" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="TradingPartnerIdentifier" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrigSystem" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrigSystemReference" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EffectiveSequence" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EffectiveLatestChange" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationSize" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SuffixOverriddenFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="UniqueNameAlias" type="xsd:string" />
      <xsd:element minOccurs="0" name="UniqueNameSuffix" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DomesticUltimateDUNSNumberC" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="GlobalUltimateDUNSNumberC" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ParentDUNSNumberC" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CorpCurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurcyConvRateType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" name="OrgInformation" type="ns1:OrganizationInformation" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="organizationProfile" type="OrganizationProfile" />
</xsd:schema>