TeamSupport.CrmIntegration/Service References/OracleSalesParty/PartySite.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns2="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/partySite/" xmlns:sdoXML="commonj.sdo/xml" xmlns:sdoJava="commonj.sdo/java" xmlns:sdo="commonj.sdo" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" xmlns:ns1="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" sdoJava:package="oracle.apps.cdm.foundation.parties.partyService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/contactPointService/ContactPreference.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/contactPointService/Eft.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/contactPointService/Email.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/contactPointService/InstantMessaging.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/contactPointService/Phone.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/contactPointService/Telex.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/contactPointService/Web.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/flex/partySite/PartySiteInformation.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/partySite/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/xml/sdoModel.xsd" namespace="commonj.sdo" />
  <xsd:include schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/partyService/OriginalSystemReference.xsd" />
  <xsd:include schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/partyService/PartySiteUse.xsd" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">Trading Community Address</name>
      <description xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">An address associated with a trading community member. For
                example, Oracle Corporation is located at 500 Oracle Parkway,
                Redwood Shores, CA.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">CdmTop-Customer Data Management</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">CdmTop-Customer Data Management : FoundationTop-Foundation</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Party site identifier" name="PartySiteId" />
        <oer:attribute description="Identifier for the party. Foreign key to the HZ_PARTIES table." name="PartyId" />
        <oer:attribute description="Identifier for the party site. Foreign key to the HZ_LOCATIONS table." name="LocationId" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Party site number of the address" name="PartySiteNumber" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row." name="RequestId" />
        <oer:attribute description="Source system name" name="OrigSystem" />
        <oer:attribute description="Party site identifier from foreign system" name="OrigSystemReference" />
        <oer:attribute description="Date from which party site is effective" name="StartDateActive" />
        <oer:attribute description="Date from which party site is invalid" name="EndDateActive" />
        <oer:attribute description="A user-defined code to indicate a mail drop point within their organization" name="Mailstop" />
        <oer:attribute description="Indicates if this is the identifying address for the party. Y for the indentifying, N for sites that are not the indentifying site" name="IdentifyingAddressFlag" />
        <oer:attribute description="Operating Language for the party Site" name="Language" />
        <oer:attribute description="Party site status flag." name="Status" />
        <oer:attribute description="User-defined name for the site" name="PartySiteName" />
        <oer:attribute description="Addressee information" name="Addressee" />
        <oer:attribute description="TCA Who column" name="CreatedByModule" />
        <oer:attribute description="Global location number that uniquely identifies each location in a trading partners enterprise" name="GlobalLocationNumber" />
        <oer:attribute description="DUNS number, a unique, nine-digit identification number that is assigned to business entities by Dun and Bradstreet" name="DUNSNumberC" />
        <oer:attribute description="Description for a Party Site." name="Comments" />
        <oer:attribute description="This stores the Party site type and is based on the lookup. Currently this can be null or 'One-Time'." name="PartySiteType" />
        <oer:attribute description="Will store the doing-business_as (DBA) Party name for a party site. This column is to store FSIO related legal party name attribute." name="PartyNameDba" />
        <oer:attribute description="Will store the division Party name for a party site. This column is to store FSIO related legal party name attribute." name="PartyNameDivision" />
        <oer:attribute description="Will store the Legal Party name for a party site. This column is to store FSIO related legal party name attribute." name="PartyNameLegal" />
        <oer:attribute description="The relationship context of a party address." name="RelationshipId" />
        <oer:attribute description="Usage context of a party address." name="PartyUsageCode" />
        <oer:attribute description="Usage context of a party address." name="UsageCode" />
        <oer:attribute description="Country code from the TERRITORY_CODE column in the FND_TERRITORY table" name="Country1" />
        <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried." name="ObjectVersionNumber1" />
        <oer:attribute description="Currency Code This attribute is used by CRM Extensibility framework" name="CurrencyCode" />
        <oer:attribute description="Corporate Currency Code This attribute is used by CRM Extensibility framework" name="CorpCurrencyCode" />
        <oer:attribute description="Currency Conversion Rate Type This attribute is used by CRM Extensibility framework" name="CurcyConvRateType" />
        <oer:attribute description="Contact preference information for a party address." name="ContactPreference" />
        <oer:attribute description="Electronic file transfer information for the party." name="Eft" />
        <oer:attribute description="Email address associated with the party." name="Email" />
        <oer:attribute description="Instant messaging information associated with the party." name="InstantMessaging" />
        <oer:attribute description="Identifier for this record from foreign or legacy system." name="OriginalSystemReference" />
        <oer:attribute description="Party address use information." name="PartySiteUse" />
        <oer:attribute description="Phone associated with the party." name="Phone" />
        <oer:attribute description="Telex information associated with the party." name="Telex" />
        <oer:attribute description="Web associated with the party." name="Web" />
        <oer:attribute description="Party address information." name="PartySiteInformation" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="PartySite">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>PartySiteId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartySiteId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="LocationId" type="xsd:long" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="PartySiteNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="OrigSystem" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrigSystemReference" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="StartDateActive" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="EndDateActive" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="Mailstop" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:BooleanObject" minOccurs="0" name="IdentifyingAddressFlag" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="Language" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Status" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartySiteName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Addressee" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="GlobalLocationNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DUNSNumberC" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartySiteType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyNameDba" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyNameDivision" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyNameLegal" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RelationshipId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartyUsageCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="UsageCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Country1" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber1" type="xsd:int" />
      <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CorpCurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurcyConvRateType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ContactPreference" type="ns1:ContactPreference" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" maxOccurs="unbounded" name="Eft" type="ns1:Eft" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" maxOccurs="unbounded" name="Email" type="ns1:Email" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" maxOccurs="unbounded" name="InstantMessaging" type="ns1:InstantMessaging" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="OriginalSystemReference" type="OriginalSystemReference" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="PartySiteUse" type="PartySiteUse" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" maxOccurs="unbounded" name="Phone" type="ns1:Phone" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" maxOccurs="unbounded" name="Telex" type="ns1:Telex" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" maxOccurs="unbounded" name="Web" type="ns1:Web" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" name="PartySiteInformation" type="ns2:PartySiteInformation" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="partySite" type="PartySite" />
</xsd:schema>