TeamSupport.CrmIntegration/Service References/OracleSalesParty/PersonProfile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:sdoXML="commonj.sdo/xml" xmlns:sdoJava="commonj.sdo/java" xmlns:sdo="commonj.sdo" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/" xmlns:ns1="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/person/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/" sdoJava:package="oracle.apps.cdm.foundation.parties.personService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/oracle/apps/cdm/foundation/parties/flex/person/PersonInformation.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/person/" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:import schemaLocation="https://crm-aufsn4x0gka.oracleoutsourcing.com:443/crmCommonSalesParties/SalesPartyService?XSD=/xml/sdoModel.xsd" namespace="commonj.sdo" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/">Trading Community Person Profile</name>
      <description xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/">A trading community person's profile information. For example
                this person is a married woman whose previous last name was
                Smith.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/">CdmTop-Customer Data Management</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/">CdmTop-Customer Data Management : FoundationTop-Foundation</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/">CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Unique identifier for the person profile" name="PersonProfileId" />
        <oer:attribute description="Identifier for the party. Foreign key to the HZ_PARTIES table." name="PartyId" />
        <oer:attribute description="The combination of title, first, middle, last, and suffix names." name="PersonName" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row." name="RequestId" />
        <oer:attribute description="Salutary introduction such as Mr., Herr, etc." name="PersonPreNameAdjunct" />
        <oer:attribute description="First name of the person" name="PersonFirstName" />
        <oer:attribute description="Middle name of the person" name="PersonMiddleName" />
        <oer:attribute description="Last or surname of the person" name="PersonLastName" />
        <oer:attribute description="Indicates the place in a family structure. For example, in &quot;Tom Jones III&quot;, the &quot;III&quot;." name="PersonNameSuffix" />
        <oer:attribute description="A professional or family title. For example, Don or The Right Honorable." name="PersonTitle" />
        <oer:attribute description="Academic title that is part of the person's name such as Dr. Jane Smith" name="PersonAcademicTitle" />
        <oer:attribute description="Previous last or surname of the person" name="PersonPreviousLastName" />
        <oer:attribute description="Name initials" name="PersonInitials" />
        <oer:attribute description="Taxpayer identification number, often unique identifier of person or organization. Can be SSN or income taxpayer ID in US, fiscal code or NIF in Europe" name="JgzzFiscalCode" />
        <oer:attribute description="Date the person was born" name="DateOfBirth" />
        <oer:attribute description="Where the person was born. Typically, the city and country." name="PlaceOfBirth" />
        <oer:attribute description="Date the person died" name="DateOfDeath" />
        <oer:attribute description="The gender (male, female, unknown) of the person" name="Gender" />
        <oer:attribute description="The declared ethnicity of the person" name="DeclaredEthnicity" />
        <oer:attribute description="Marital status of the person" name="MaritalStatus" />
        <oer:attribute description="Date when the person's marital status changed." name="MaritalStatusEffectiveDate" />
        <oer:attribute description="The estimated gross annual income of the person" name="PersonalIncomeAmount" />
        <oer:attribute description="Indicates if the person rents or owns his or her residence. Lookup of values for rent, own, lease, and so on." name="RentOwnInd" />
        <oer:attribute description="The geophysical location (GPS point) that was last reported for the person" name="LastKnownGPS" />
        <oer:attribute description="Date Effective Entity: indicates the date at the beginning of the date range within which the row is effective." name="EffectiveStartDate" />
        <oer:attribute description="Date Effective Entity: indicates the date at the end of the date range within which the row is effective." name="EffectiveEndDate" />
        <oer:attribute description="Indicates whether the person is internal or external to the user's organization. Y for a person who is a member of the user's organization, N for a person who is not a member of the user's organization." name="InternalFlag" />
        <oer:attribute description="Record status flag" name="Status" />
        <oer:attribute description="TCA Who column" name="CreatedByModule" />
        <oer:attribute description="Y or N indicates whether the person is deceased or not" name="DeceasedFlag" />
        <oer:attribute description="Description for a Person." name="Comments" />
        <oer:attribute description="Used to capture the Last name prefix (e.g. 'fon', 'van', etc.) for a person. It is used in the same way the new field PERSON_LAST_NAME_PREFIX in HZ_PERSON_PROFILES is used. Corresponds to the field Last Name Prefix in HL7." name="PersonLastNamePrefix" />
        <oer:attribute description="Used to capture the second last name for a person. In some cultures it is not uncommon to have double last name. It is used in the same way the new field PERSON_SECOND_LAST_NAME in HZ_PERSON_PROFILES is used." name="PersonSecondLastName" />
        <oer:attribute description="Default Currency code for this person." name="PreferredFunctionalCurrency" />
        <oer:attribute description="Source system name" name="OrigSystem" />
        <oer:attribute description="Unique person identifier from foreign system" name="OrigSystemReference" />
        <oer:attribute description="Date Effective Entity: indicates the order of different changes made during a day. The lowest value represents the earliest change in the day." name="EffectiveSequence" />
        <oer:attribute description="Indicates if the person is the head of the household. Y for the head of a household, N for people who are not the head of a household." name="HeadOfHouseholdFlag" />
        <oer:attribute description="Income of the household that this person is a part of" name="HouseholdIncomeAmount" />
        <oer:attribute description="The size of the household this person is a part of" name="HouseholdSize" />
        <oer:attribute description="Date Effective Entity: 'Y' indicates that this row represents the latest change in the day." name="EffectiveLatestChange" />
        <oer:attribute description="This attribute will have Y if the suffix is overridden by user and N if not. Default value is N." name="SuffixOverriddenFlag" />
        <oer:attribute description="Captures system generated or manually overridden suffix." name="UniqueNameSuffix" />
        <oer:attribute description="Corporate Currency Code This attribute is used by CRM Extensibility framework" name="CorpCurrencyCode" />
        <oer:attribute description="Currency Conversion Rate Type This attribute is used by CRM Extensibility framework" name="CurcyConvRateType" />
        <oer:attribute description="Currency Code This attribute is used by CRM Extensibility framework" name="CurrencyCode" />
        <oer:attribute description="Person Information." name="PersonInformation" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="PersonProfile">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>PersonProfileId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PersonProfileId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="PersonName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PersonPreNameAdjunct" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonFirstName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonMiddleName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonLastName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonNameSuffix" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonTitle" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonAcademicTitle" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonPreviousLastName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonInitials" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="JgzzFiscalCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DateOfBirth" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="PlaceOfBirth" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DateOfDeath" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="Gender" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DeclaredEthnicity" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="MaritalStatus" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="MaritalStatusEffectiveDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="PersonalIncomeAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="RentOwnInd" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastKnownGPS" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EffectiveStartDate" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="EffectiveEndDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="InternalFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="Status" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DeceasedFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonLastNamePrefix" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonSecondLastName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PreferredFunctionalCurrency" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrigSystem" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrigSystemReference" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="EffectiveSequence" nillable="true" type="xsd:int" />
      <xsd:element minOccurs="0" name="HeadOfHouseholdFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="HouseholdIncomeAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="HouseholdSize" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="EffectiveLatestChange" type="xsd:string" />
      <xsd:element minOccurs="0" name="SuffixOverriddenFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="UniqueNameSuffix" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CorpCurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurcyConvRateType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" name="PersonInformation" type="ns1:PersonInformation" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="personProfile" type="PersonProfile" />
</xsd:schema>